.screen-background{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: #09d3ac;
}
.game-board{
    width: 400px;
    height: 480px;
    background-color: #181818;
    position: absolute;
    display: block;
    margin: 10px auto;
    right: 0;
    left: 0;
}
.right-window{
    margin: 0;
    padding: 0;
    width: 110px;
    height: 100%;
    position: relative;
    float: left;
}
